@media (max-width: 768px) {
  .hide-navbar {
    display: none !important;
  }
  
  /* Other CSS classes you provided */
  .chart-container {
    width: 150%;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .setmargin {
    margin-right: 200px;
    margin-top: -30px;
  }

  .margintwo {
    margin-top: -120px;
  }

  .chart-buttons {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .chart-container .recharts-responsive-container {
    width: 200% !important;
    max-width: none !important;
    transform: translateX(-25%);
  }

  .chart-container .recharts-wrapper {
    transform: scale(1);
    transform-origin: left center;
  }

  .move-down {
    margin-top: 40px;
  }

  .move-about {
    margin-top: 30px;
  }

  .chart {
    width: calc(100% + 24px);
    margin-left: -12px;
  }

  .hide {
    display: none;
  }

  .nothide {
    display: block;
  }

  .scroll-down {
    background-color: #3490dc;
    top: 0;
    transition: background-color 0.3s ease, top 0.3s ease;
  }

  .mobile-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .mobile-nav .container {
    display: inline-block;
    min-width: 100%;
  }

  .mobile-nav {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: top 0.3s ease;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .mobile-nav .container {
    display: inline-block;
    min-width: 100%;
  }

  .mobile-nav a, .mobile-nav a:active, .mobile-nav a:focus {
    border-bottom: none !important;
    color: inherit !important;
  }

  .mobile-nav .flex {
    display: inline-flex;
  }

  .mobile-nav.sticky {
    top: 0 !important;
    width: 100%;
    z-index: 1000;
  }

  .mobile-nav.hidden {
    top: -60px !important;
  }

  .w-2\/3 {
    width: 100%;
    padding-top: 60px;
  }

  .mobile-only {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .exchange-table td:first-child {
    padding-left: 23px;
  }
  .exchange-table td:nth-child(2) {
    padding-left: 23px;
  }
  .exchange-table th:first-child {
    padding-left: 20px;
  }
  .exchange-table th:nth-child(2) {
    padding-left: 20px;
  }
  .exchange-table td:nth-child(3) {
    padding-left: 40px;
  }
  .exchange-table th:nth-child(3) {
    padding-left: 40px;
  }
}

@media (min-width: 769px) {
  .hide-on-desktop {
    display: none;
  }

  .show-on-desktop {
    display: block;
  }

  .wide-element {
    width: 80%;
    margin: 0 auto;
  }
  .short-news::-webkit-scrollbar {
  display: none;
}
}
