.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* Add this to your existing CSS or in a style tag */
.mobile-menu-enter {
  opacity: 0;
  transform: scale(0.9);
}

.mobile-menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.mobile-menu-exit {
  opacity: 1;
}

.mobile-menu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@media (max-width: 768px) {
  .hide-navbar {
    display: none !important;
  }
  
  .hide-navbar {
    display: none !important;
  }
  .chart-container {
    width: 150%;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .setmargin {
    margin-right: 200px;
    margin-top: -30px;
  }

  .margintwo {
    margin-top: -120px;
  }

  .chart-buttons {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .chart-container .recharts-responsive-container {
    width: 200% !important;
    max-width: none !important;
    transform: translateX(-25%);
  }

  .chart-container .recharts-wrapper {
    transform: scale(1);
    transform-origin: left center;
  }

  .move-down {
    margin-top: 40px;
  }

  .move-about {
    margin-top: 30px;
  }

  .chart {
    width: calc(100% + 24px);
    margin-left: -12px;
  }

  .hide {
    display: none;
  }

  .nothide {
    display: block;
  }

  .scroll-down {
    background-color: #3490dc;
    top: 0;
    transition: background-color 0.3s ease, top 0.3s ease;
  }

  .mobile-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .mobile-nav .container {
    display: inline-block;
    min-width: 100%;
  }

  .mobile-nav {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: top 0.3s ease;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .mobile-nav .container {
    display: inline-block;
    min-width: 100%;
  }

  .mobile-nav a, .mobile-nav a:active, .mobile-nav a:focus {
    border-bottom: none !important;
    color: inherit !important;
  }

  .mobile-nav .flex {
    display: inline-flex;
  }

  .mobile-nav.sticky {
    top: 0 !important;
    width: 100%;
    z-index: 1000;
  }

  .mobile-nav.hidden {
    top: -60px !important;
  }

  .w-2\/3 {
    width: 100%;
    padding-top: 60px;
  }

  .mobile-only {
    display: block;
  }

  /* Hide the CryptoDetail navbar by default */
  .crypto-detail-navbar {
    display: none;
  }

  /* Show the CryptoDetail navbar when it's active */
  .crypto-detail-navbar.active {
    display: block;
  }

  /* Hide the main navbar when the CryptoDetail navbar is active */
  .main-navbar.hidden {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .exchange-table td:first-child {
    padding-left: 23px;
  }
  .exchange-table td:nth-child(2) {
    padding-left: 23px;
  }
  .exchange-table th:first-child {
    padding-left: 20px;
  }
  .exchange-table th:nth-child(2) {
    padding-left: 20px;
  }
  .exchange-table td:nth-child(3) {
    padding-left: 40px;
  }
  .exchange-table th:nth-child(3) {
    padding-left: 40px;
  }
}

@media (min-width: 769px) {
  .hide-on-desktop {
    display: none;
  }

  .show-on-desktop {
    display: block;
  }

  .wide-element {
    width: 80%;
    margin: 0 auto;
  }
  .short-news::-webkit-scrollbar {
  display: none;
}
}

.connect-wallet-button {
  background-color: #e8edf9;
  color: #467fcf;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-wallet-button:hover {
  background-color: #d0d9f2;
}
