/* Mobile devices (max-width: 768px) */
@media (max-width: 768px) {
  .exchange-table td:first-child {
    padding-left: 23px; /* Add spacing to the # column */
  }
  .exchange-table td:nth-child(2) {
    padding-left: 23px; /* Add spacing to the Exchange column */
  }
  .exchange-table th:first-child {
    padding-left: 20px; /* Add spacing to the # column in the header */
  }
  .exchange-table th:nth-child(2) {
    padding-left: 20px; /* Add spacing to the Exchange column in the header */
  }
  .exchange-table td:nth-child(3) {
    padding-left: 40px; /* Add spacing to the Trading Volume (24h) column */
  }
 .exchange-table th:nth-child(3) {
    padding-left: 40px; /* Add spacing to the Trading Volume (24h) column in the header */
  }
  
  

  
}